{% extends 'base.html' %}



{% block mainContent %}
<h3>Page not found</h3>
<div class="contentBlock">
  <h4>I tried and tried and tried...</h4>
  <p>But I couldn't find the page you're looking for :(</p>
  <p>At least the 404 error page is working though. Kudos!</p>
</div>
{% endblock %}

{% block sidebar %}
<h3>Sidebar</h3>
<div class="sidebarBlock">
  <h5>Navigation</h5>
  <a href="/" class="sidebarLinks">&#9720;Homepage</a>
  <a href="/template" class="sidebarLinks">&#9720;Template</a>
  <a href="/bugs" class="sidebarLinks">&#9720;Report a Bug</a>
</div>
{% endblock %}
