{% extends 'comparison.html' %}

{% block mainContent %}

  <div class="contentBlock">
    <canvas id="canvas1"></canvas>
  </div>



{% endblock %}




{% block sidebar %}
<div class="contentBlock">
  <canvas id="canvas2"></canvas>
</div>
<!-- <div class="sidebarBlock">
  <pre>
  {% for item in sel %}
  c.fillStyle = "{{sel[item]['obj1_color']}}";
  c.fillRect({{sel[item]['obj1_x_pos']}}, {{sel[item]['obj1_y_pos']}}, {{sel[item]['obj1_width']}}, {{sel[item]['obj1_height']}});

  c.fillStyle = "{{sel[item]['obj2_color']}}";
  c.fillRect({{sel[item]['obj2_x_pos']}}, {{sel[item]['obj2_y_pos']}}, {{sel[item]['obj2_width']}}, {{sel[item]['obj2_height']}});
  {% endfor %}
  </pre>
</div> -->

<script type="text/javascript" src="{{ url_for('static', filename='js/canvas.js') }}?ver={{ version_num }}"></script>
<script type="text/javascript">

  {% for item in sel %}
    c.fillStyle = "{{sel[item]['obj1_color']}}";
    c.fillRect({{sel[item]['obj1_x_pos']}}, {{sel[item]['obj1_y_pos']}}, {{sel[item]['obj1_width']}}, {{sel[item]['obj1_height']}});

    c.fillStyle = "{{sel[item]['obj2_color']}}";
    c.fillRect({{sel[item]['obj2_x_pos']}}, {{sel[item]['obj2_y_pos']}}, {{sel[item]['obj2_width']}}, {{sel[item]['obj2_height']}});
  {% endfor %}

  {% for item in sel %}
    c2.fillStyle = "{{sel[item]['obj1_color']}}";
    c2.fillRect({{sel[item]['obj1_x_pos']}}, {{sel[item]['obj1_y_pos']}}, {{sel[item]['obj1_width']}}, {{sel[item]['obj1_height']}});

    c2.fillStyle = "{{sel[item]['obj2_color']}}";
    c2.fillRect({{sel[item]['obj2_x_pos']}}, {{sel[item]['obj2_y_pos']}}, {{sel[item]['obj2_width']}}, {{sel[item]['obj2_height']}});
  {% endfor %}

  {% set item = change_location %}

  {% if mode == "flip" %}
    c2.fillStyle = "{{sel[item]['obj1_color_B']}}";
    c2.fillRect({{sel[item]['obj1_x_pos']}}, {{sel[item]['obj1_y_pos']}}, {{sel[item]['obj1_width']}}, {{sel[item]['obj1_height']}});

    c2.fillStyle = "{{sel[item]['obj2_color_B']}}";
    c2.fillRect({{sel[item]['obj2_x_pos']}}, {{sel[item]['obj2_y_pos']}}, {{sel[item]['obj2_width']}}, {{sel[item]['obj2_height']}});
  {% endif %}

  {% if mode == "change" %}
    c2.fillStyle = "{{sel[item]['obj1_color_C']}}";
    c2.fillRect({{sel[item]['obj1_x_pos']}}, {{sel[item]['obj1_y_pos']}}, {{sel[item]['obj1_width']}}, {{sel[item]['obj1_height']}});

    c2.fillStyle = "{{sel[item]['obj2_color_C']}}";
    c2.fillRect({{sel[item]['obj2_x_pos']}}, {{sel[item]['obj2_y_pos']}}, {{sel[item]['obj2_width']}}, {{sel[item]['obj2_height']}});
  {% endif %}
</script>
{% endblock %}
