{% extends 'base.html' %}

{% block mainContent %}


  <h3>Welcome to Unilay</h3>
  <div class="contentBlock">
    <h4>What is Unilay?</h4>
    <p>Unilay is the Universal Web Layout used for online apps at sensworks.ca. It provides a consistent user experience across apps, and removes the need to create a new design for every project - redirecting the focus to creating a useful app!</p>
    <p>The main function of Unilay is to stylize default HTML elements such as links (&lt;a&gt;), headers (&lt;h1&gt;, &lt;h2&gt;, &lt;p&gt;, etc), and form elements (&lt;input type="text"&gt;, &lt;input type="submit"&gt;, etc). This particular iteration is made for use with Python frameworks like Flask and Django. To see a template containing all of the stylized elements, <a href="/template">click here</a>.</p>
    <p>Unilay is easily customizable if you have a bit of HTML and CSS knowledge. However, a simple editor is in the works so that anyone can tweak Unilay to their needs.</p>
  </div>
  <div class="contentBlock">
    <h4>Usability</h4>
    <p>Unilay 3.2 is responsive to the browser's size. Using CSS media queries, it switches to a single column view and uses larger fonts when viewed in a small window or mobile device. The media query breakpoint is 1000px - the landscape orientation on iPads will show the desktop version, and the portrait orientation will show the mobile version.</p>
    <h5>Error Handling</h5>
    <p>An error page is included (and programmed into) the Flask version. You can check it out <a href="/404">here</a>.</p>
    <h5>Potential Issues</h5>
    <p>Some technologies used in Unilay may not be compatible with older browsers. The current version uses CSS Grid (<a href="https://caniuse.com/#search=css%20grid">Check Browser Compatibility</a>) for page layout and relies on Javascript for the mobile menu. In order to minimize the impact on browsers that do not support Javascript, please also include navigation links in the sidebar.</p>
  </div>


{% endblock %}


{% block sidebar %}
  <div class="sidebarBlock">
    <h5>Credits</h5>
    <p>Unilay is created by Sen at sensworks.ca</p>
  </div>
{% endblock %}
