{% extends 'base.html' %}


{% block mainContent %}

    <h3>Todo List</h3>
    {% for (notifHeading, message) in get_flashed_messages(with_categories = True) %}
    <div id="notifBox" role="alert">
        <div id="notifControl" onClick="closeNotif()">
            &times;
        </div>
        <div id="notifMessage">
            <h5 style="color: $this->color">{{ notifHeading }}</h5>
            <p>
                {{ message }}
            </p>
        </div>
    </div>
    {% endfor %}

    <div class="contentBlock">
      <h5>Add New ToDo Item</h5>
      <form method="post">
        {{form.hidden_tag()}}
        {{form.todo_title.label}}{{form.todo_title()}}
        {{form.todo_content.label}}{{form.todo_content()}}
        {{form.todo_status.label}}{{form.todo_status()}}
        {{form.todo_submit()}}
      </form>
    </div>

    <h3>Posted Todo Items</h3>
    {% for item in all_todo %}
      <div class="contentBlock">
        <h5>{{item.title}}</h5>
        <p>{{item.content}}</p>
        <p>{{item.status}} | <a href="/todo/delete/{{item.id}}">Delete</a> - <a href="/todo/complete/{{item.id}}">Complete</a></p>
      </div>
    {%endfor%}


{% endblock %}

{% block sidebar %}
{% endblock %}
