
{% set version_num = 3.2.3 %}
<!DOCTYPE html>

<html>
  <head>
      <title>Stimgen</title>
      <style media="screen">
        body
        {
          /* CSS grid definition, can be included in separate file */
          grid-template-areas:
              "header header header header"
              ". main aside ."
              ". footer footer .";
          grid-template-rows: auto auto 125px;
          grid-template-columns: 1fr 4fr 2fr 1fr;
          grid-gap: 1.5em;
          /* end CSS grid definition */
        }
      </style>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/unilay3.css') }}?ver={{ version_num }}" />
      <link rel="stylesheet" href="{{ url_for('static', filename='css/canvas.css') }}?ver={{ version_num }}" />
      <script type="text/javascript" src="{{ url_for('static', filename='js/menus.js') }}?ver={{ version_num }}"></script>
      <script type="text/javascript" src="{{ url_for('static', filename='js/toggles.js') }}?ver={{ version_num }}"></script>
      <meta name='viewport' content='width=device-width, initial-scale=1.0'>
      <meta charset="utf-8">
  </head>
  <body>
      <header>
          <div id="topButton">Stimgen</div>
          <h1>Stimgen</h1>
          <h2>Visual Stimulus Generator</h2>
      </header>
      <main>
          {% block mainContent %}
          <h3>Flask mainContent block title (H3)</h3>
          <div id="notifBox">
              <div id="notifControl" onClick="closeNotif()">
                  &times;
              </div>
              <div id="notifMessage">
                  <h5 style="color: $this->color">Notification (H5)</h5>
                  <p>
                      Notifications can be flashed to the page using flask. Clicking on the red cross to the right will dismiss the notification
                  </p>
              </div>
          </div>
          <div class="contentBlock">
              <h4>Secondary heading for content blocks (H4)</h4>
              <p>All text must be contained in &lt;p&gt; or &lt;span&gt; tags, so they can be targetted by CSS</p>
              <h5>Sub secondary heading (h5)</h5>
              <p>
                  Let's talk about links. <a href="">Click here</a>.
              </p>
          </div>
          <div class="contentBlock">
              <h4>Forms</h4>
              <form>
                  <h5>Basic form elements</h5>
                  <label>Text input</label>
                  <input type="text" />
                  <label>Number</label>
                  <input type="number" />
                  <label>Selection</label>
                  <select>
                      <option>Option 1</option>
                      <option>Option 2</option>
                  </select>
                  <label>
                    Checkboxes
                    <br>
                    <input type="checkbox" /> A check option
                  </label>
                  <label>Big text box</label>
                  <textarea></textarea>
                  <input type="submit" class="primaryButton" value="Primary Button" />
                  <input type="submit" class="secondaryButton" value="Secondary Button" />
                  <input type="submit" value="Unstylized Button" />
              </form>
          </div>
          {% endblock %}
      </main>
      <aside>
        <h3>Navigation</h3>
        <div class="sidebarBlock">
          <a href="{{url_for('index')}}" class="sidebarLinks">Homepage</a>
          <a href="{{url_for('template')}}" class="sidebarLinks">Template</a>
          <a href="{{url_for('todo_list')}}" class="sidebarLinks">Todo List</a>
          <!-- <a href="{{url_for('template')}}" class="sidebarLnks">To Do List</a> -->
        </div>
          {% block sidebar %}
          <h3>Sidebar (h3)</h3>
          <div class="sidebarBlock">
            <h5>Contextual Help Message (h5)</h5>
            <p>Help messages that are displayed to the side to provide instructions on how to use certain features.</p>
          </div>
          <div class="sidebarBlock">
            <h5>Default Sidebar</h5>
            <p>A page extending this base.html file might contain a <b>sidebar</b> block. If there is no sidebar block, this default sidebar will be shown instead.</p>
          </div>
          {% endblock %}
      </aside>
      <footer>
          <p>&copy; Sen Tang, 2020</p>
          <p>version 3.2.1</p>
      </footer>
      <div id="menuHolder">
          <menu id="menu" style="display: none">
              <div id="menuMain">
                <a href="{{url_for('todo_list')}}" class="menuItem">Todo List</a>
                <a href="/checkStim/flip" class="menuItem">Flip</a>
                <a href="/checkStim/change" class="menuItem">Change</a>
                <a id="menuClose" onClick="toggleMenu()">Close Menu</a>
              </div>
              <!--
              <div id="menuAddon">
                  <h4>Addon Feature</h4>
                  <a class="menuItem" href=""></a>
                  <p>Some text</p>
              </div>
              -->
          </menu>
          <div id="menuButton" onClick="toggleMenu()">
              Menu
          </div>
      </div>
      <div id="curtain" style="display: none" onClick="toggleMenu()"></div>
  </body>
</html>
