
<!DOCTYPE html>

<html>
  <head>
      <title>Stimgen</title>
      <style media="screen">
        body
        {
          /* CSS grid definition, can be included in separate file */
          grid-template-areas:
              "header header header header"
              ". main aside ."
              ". footer footer .";
          grid-template-rows: auto auto auto 125px;
          grid-template-columns: 1.5em auto auto 1.5em;
          grid-gap: 1.5em;
          /* end CSS grid definition */
        }
      </style>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/unilay3.css') }}?ver={{ version_num }}" />
      <link rel="stylesheet" href="{{ url_for('static', filename='css/canvas.css') }}?ver={{ version_num }}" />
      <script type="text/javascript" src="{{ url_for('static', filename='js/menus.js') }}?ver={{ version_num }}"></script>
      <script type="text/javascript" src="{{ url_for('static', filename='js/toggles.js') }}?ver={{ version_num }}"></script>
      <meta name='viewport' content='width=device-width, initial-scale=1.0'>
      <meta charset="utf-8">
  </head>
  <body>
      <header>
          <div id="topButton">Stimgen</div>
          <h1>Stimgen</h1>
          <h2>Visual Stimulus Generator</h2>
      </header>
      <main>
        <h3>Image A</h3>
          {% block mainContent %}

          {% endblock %}
      </main>
      <aside>
        <h3>Image B</h3>
          {% block sidebar %}
          {% endblock %}
      </aside>
      <footer>
          <p>&copy; Sen Tang, 2020</p>
          <p>version 3.2.1</p>
      </footer>
      <div id="menuHolder">
          <menu id="menu" style="display: none">
              <div id="menuMain">
                  <a href="{{url_for('index')}}" class="menuItem">Homepage</a>
                  <a href="{{url_for('template')}}" class="menuItem">Template</a>
                  <a href="{{url_for('todo_list')}}" class="menuItem">Todo List</a>
                  <a href="/checkStim/flip" class="menuItem">Flip</a>
                  <a href="/checkStim/change" class="menuItem">Change</a>
                  <a id="menuClose" onClick="toggleMenu()">Close Menu</a>
              </div>
              <!--
              <div id="menuAddon">
                  <h4>Addon Feature</h4>
                  <a class="menuItem" href=""></a>
                  <p>Some text</p>
              </div>
              -->
          </menu>
          <div id="menuButton" onClick="toggleMenu()">
              Menu
          </div>
      </div>
      <div id="curtain" style="display: none" onClick="toggleMenu()"></div>
  </body>
</html>
