{% extends 'unconfined.html' %}
{% block webtitle %}Unilay 5{% endblock %}

{% block main %}


<section class="confined">
  <h2>Why Use Unilay?</h2>
  <div class="block-comparison-3">
    <div class="comp1">
      <img src="{{ url_for('static', filename='images/customize.png') }}" alt="">
      <h3>Customizeable</h3>
      <p>Customize Unilay without writing a single line of code! Use the graphical preview interface to create your own version of Unilay.</p>
    </div>
    <div class="comp2">
      <img src="{{ url_for('static', filename='images/free.png') }}" alt="">
      <h3>Completely Free</h3>
      <p>No fees, no ads or direct link requirements. Just leave a credit somewhere on your webpage or credits section.</p>
    </div>
    <div class="comp3">
      <img src="{{ url_for('static', filename='images/versatile.png') }}" alt="">
      <h3>Versatile</h3>
      <p>Unilay takes care of small details so you can work on the big picture, it's the perfect starting point for your next project!</p>
    </div>
  </div>
</section>


<section class="confined spacer-medium" id="contact">
  <h2>Contact Info</h2>
  <p>If you'd like to use Unilay for one of your projects, you can get the HTML, CSS, and JS code after you finish <a href="{{ url_for('core.customize')}}">customizing it</a>.</p>
  <p>If for any reason, you'd like to contact me regarding Unilay, please send me an email at <b>sensworks.ca@gmail.com</b>. Alternatively, if you'd like to leave me a note, please fill out the form below.</p>
  <p><b>(Form is coming soon!)</b></p>
</section>


{% endblock %}
